@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* { margin: 0; }

body {
    margin: 0 !important;
    background-size: 40px 40px;
    background-color: #333;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
    font-family: "Lexend", cursive, Arial, Helvetica, sans-serif;
    height: 100vh;
    animation: scroll-grid 5s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scroll-grid {
    0% {
        background-position: 0 0, 0 0;
    }

    100% {
        background-position: 0 -40px, 0 -40px;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, transparent, #222);
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, transparent, #222);
    z-index: -1;
}

.container {
    padding: 10px;
    background-color: #333;
    transition: 0.3s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* rainbow border */
    --angle: 0deg;
    border: 5px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 8px;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

.container > * {
    margin: 5px;
}

.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #222;
    border-radius: 5px;
}